@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
body {
  font-family: 'Overpass', sans-serif;
  background-color: var(--very-dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;  
}

/* ==========================
RATING STATE 
========================== */
.card {
  margin: 0 10px 30px 10px;
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
  min-width: 375px;
  max-width: 400px;
  height: 25rem;
  border-radius: 25px;
}

.card h2 {
  color: var(--white);
  margin-bottom: 0.75rem;
}

.card p {
  font-size: 15px;
  line-height: 1.5rem;
  color: var(--light-grey);
}

.rating-state {
  padding: 1.75rem 2.25rem;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.button {
  font-size: 16px;
  border: none;
  background: var(--dark-blue);
  color: var(--medium-grey);
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 700;
  font-family: inherit;
  margin: 1.75rem 0;
}

.n-button:hover{
  background: var(--orange);
  color: var(--white);
}
.n-button:focus{
  background: var(--light-grey);
  color: var(--white);
}

.star {
  margin-top: 0;
  cursor: default;
}

.submit-button {
  border: 0;
  background-color: var(--orange);
  color: var(--white);
  height: 2.75rem;
  width: 100%;
  border-radius: 25px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  font-family: inherit;
  letter-spacing: 0.15em;
}
.submit-button:hover {
  background: var(--white);
  color: var(--orange);
}

/* ==========================
THANK YOU STATE
========================== */
.thankyou-state {
  padding: 2.5rem 2.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.selection p{
  background: var(--dark-blue);
  color: var(--orange);
  margin: 2rem;
  padding: .25rem 1rem;
  border-radius: 20px;
}

/* DISPLAY */
.thankyou-state[data-visible="false"] {
  display: none;
}
.rating-state[data-visible="false"] {
  display: none;
}
